@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    --transparentBlue: rgb(128, 173, 236);
    --lightBlue: #60A5FA;
    --skyBlue: #38bdf8;
    --blue: #2563eb;
    --darkBlue: #1D4ED8;
    --gray: #f3f4f6;
    --headerBlue: 30, 58, 138;
}

/* Remove browser defaults */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /* outline: 0.1px solid red; */
}

/* App wrapper */
.App {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, var(--skyBlue), var(--blue));
    padding: 2rem;
}

/* Header navigation */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(var(--headerBlue),0.9);
}

.headerContainer {
    width: 100%;
    color: #E8F0F2;
}

ul.tab-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    background-color: rgba(var(--headerBlue),0.2);
}

ul.tab-nav li {
    width: 50%;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 0.5rem;
    margin: 8px;
}

ul.tab-nav li:hover {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
}

ul.tab-nav li.active {
    background: white;
    color: var(--darkBlue);
    border-radius: 0.5rem;
    box-shadow: 0 0 0 2px #60A5FA ;
}

/* Tab content */
.contentPanel {
    background-color: white;
    margin: 1.75rem; 
    border-radius: 0.75rem; 
    box-shadow: 0 0 0 2px #60A5FA; 
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 
    width: 100%;
    font-size: 0.875rem;
    font-weight: 500; 
    line-height: 2rem;  
    color: rgb(75, 66, 66);
}

/* Accordion */
.contentWrapper {
    border-bottom: 1px solid rgb(61, 61, 61);
    overflow: hidden;
}

.accordionButton {
    width: 100%;
    text-align: left;
    padding: 20px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.25rem;
    background: transparent;
    border: none;
    cursor: pointer;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.accordionButton:hover {
    color: var(--darkBlue);
    background: var(--gray);
}

.accordionButton.active {
    background-image: radial-gradient(circle, #86d1f7, rgba(79,185,249,0.3), rgba(0,160,250,0.5), rgba(0,131,246,0.4), rgba(37,99,235,0.1));
}

.arrow {
    font-size: 3rem;
    transition: .2s ease-in-out;
}

.arrow.active {
    rotate: 180deg;
    color: var(--darkBlue);
}

/* JCRM/JSEP Panel */
ul li {
    list-style: none;
}

.listIcon {
    color: red;
    font-size: 1.2rem;
}

.listIcon.hide {
    display: none;
}

.scenario-container {
    padding: 0 1rem;
    transition: height .7s ease-in-out;
    height: 0;
}

.scenario-container.active {
    height: fit-content;
}

.scenarioDescription {
    padding: 1rem 0;
    font-size: 1.25rem;
    display: block;
}

.scenarioImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.crewAction {
    font-size: 1.1rem;
    margin: 1rem;
}

.listItem {
    margin: 1.3rem 0;
}

/* Emergency Equipment Panel */
.gridRow {
    display: flex;
    width: 85%;
    align-items: center;
    text-align: center;
    outline: 1px dotted var(--blue);
    font-size: 1.1rem;
    margin: 0.8rem auto;
}

.colspan2 {
    min-width: 66%;
}

.gridRow .grid-col {
    flex: 1;
    margin: 0.5rem;
}

.grid-col .row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.grid-col .row * {
    padding: 0.5rem;
}

.grid-col .row span {
    outline: 1px solid var(--darkBlue);
}

@media only screen and (max-width:500px) {
    .accordionTitle {
        font-size: 1.1rem;
    }
    .scenarioDescription {
        padding: 0.5rem 0;
    }
    .scenarioImg {
        width: 100%;
    }
    .crewAction {
        font-size: 1rem;
        margin: 1rem 0 1rem 0;
    }
    .gridRow {
        width: 100%;
    }
    .grid-col {
        font-size: 0.7rem;
    }
}